body {
  width: 1480px;
  height: 1282px;
  min-width: 1280px;
  background: #fff;
  flex-shrink: 0;
}

a {
  text-decoration: none;
}

/* .container-header{

} */

.top-title {
  display: flex;
  min-width: 334px;
  flex-direction: column;


  /* justify-content: flex-end; */
  /* margin: 63px 949px 40px 98px; */
  /* margin-left: 98px; */
}

.container-header-title {
  font-family: 'Roboto', sans-serif;
  font-size: 80px;
  /* width: 1283px;
  height: 69px; */
  font-size: 80px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.header-title2 {
  color: #4bcaff;
}

.container-header-title {
  display: flex;
  justify-content: flex-start;
  margin: 63px 1048px 40px 98px;
}

.container-header-title a {
  color: #000;
}

.container-header-menu {
  /* display: flex; */
  width: 1280px;
  height: 69px;
  background-color: #35444f;
  /* justify-content: center;
   align-items: flex-end; */

  /* margin: 40px auto 0; */
  margin-inline: 100px;
  padding: 0 10px;
  
}

.header-menu-items {
  display: flex;
  height: 69px;
  justify-content: center;
  /* align-items: flex-end;
   background-color: gray; */
  list-style-type: none;
  margin: 0;
  padding: 0 10px;
}

.top-menu-item {
  border-left: 1px solid #fff;
  border-right: 1px solid #fff;
  padding: 0 30px;
  height: 69px;
  line-height: 69px;
}

.top-menu-item:not(:first-child) {
  border-left: none;
}

.top-menu-item a {
  color: #fff;
  font-family: 'Roboto', sans-serif;
  font-size: 24px;
}

.content {
  display: flex;
  flex-direction: row;
  margin-left: 100px;
  margin-top: 49px;
  margin-bottom: 54px;
}

.left-menu {
  display: flex;
  border: 1px solid #000;
  width: 344px;
  height: 399px;
  /* margin-left: 100px; */
}

.left-menu-items {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  font-size: 27px;
  margin-left: 38px;
}

.left-menu-item {
  display: flex;
}

.left-menu-item a {
  color: #485863;
  /* color: #485863; */
  font-family: 'Roboto', sans-serif;
  font-size: 27px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
}

.content-side {
  display: flex;
  flex-direction: column;
  width: 885px;
  box-sizing: border-box;
}

.content-photo {
  display: flex;
  width: 885px;
  height: 529px;
  border: 1px solid #000;
  margin-left: 53px;
    /* box-sizing: border-box; */
}

.photo {
  margin: 75px 268px 73px 297px;
}

.content-side-text{
  margin-left: 53px;
  margin-top: 37px;
}

.content-text {

  width: 885px;
  color: #2c2c2c;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  font-style: normal;
  /* font-weight: 400; */
  line-height: 24px;
}

.footer{
  display: flex;
  width: 1280px;
  /* border: 1px solid #000; */
  background: rgba(99, 105, 110, 0.48);
  margin-left: 100px;
  /* flex-direction: row; */
  justify-content: space-between;
  box-sizing: border-box;
  align-items: center;
}

.bottom-menu{
  display: flex;
  flex-direction: row;
}

.bottom-menu-list{
  display: flex;
  width: 875px;
  padding: 0;
  justify-content: space-between;
  margin-left: 40px;
}

.botom-menu-item{
  display: flex;
  color: #000;
  font-family: 'Roboto',sans-serif;
  font-size: 28px;
  justify-content: space-between;
}

.botom-menu-item a {
  color: #000;
}

.footer-copyright{
  display: flex;
  font-family: 'Roboto', sans-serif;
  font-size: 24px;
  margin-right: 40px;
}
